@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.event-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: -9px;
}

.main-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  font-family: 'Work Sans', sans-serif;
  color: #434343;
}

.header-decoration{
  height: 48px;
  background-color: red;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

.header-decoration div{
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-decoration-button{
  background-color: white;
  border: none;
  border-radius: 20px;
  height: 30px;
  align-items: center;
  width: 150px;
  color:red;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.main-header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.main-header ul li img{
  width: 23px;
  margin-top: -3px;
}

.main-header li{
  cursor: pointer;
}

.main-header h1{
  cursor: pointer;
}

.event-list-container h1 img {
  width: 89px;
  height: 25px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1300px;
  text-decoration: none;
  list-style: none;
}

.event-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 200px;
  background-color: #f5f5f5;
  margin-right: 50px;
}

.event-filters{
  display: flex;
  margin: 0 auto;
  width: 69%;
  justify-content: space-between;
}

.input-title{
  width: 700px;
  height: 35px;
  border: none;
  background-color: #F5F5F5;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}

.input-date{
  width: 100px;
  height: 35px;
  background-color: #F5F5F5;
  margin-left: 10px;
}

.data-events{
  font-family: 'Work Sans', sans-serif;
}

.input-date-button{
  height: 27px;
}

.event-list img{
  width: 200px;
  height: 150px;
  border-radius: 10px;
}

.event-list li{
  background-color: white;
  border: none;
  cursor: pointer;
}

.event-infos{
  display: block;
  font-family: 'Rubik', sans-serif;
}

.event-info-title{
  font-size: 20px;
}
